<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/sendMainPageData.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="js/charts.js"></script>
    <script src="js/script.js"></script>
    <title>Hello</title>
</head>
<body>
<div class="container main-container">
    <div class="row">
        <div class="col-xs-5 left-wrap">
            <form method="POST" id="calcForm" action="javascript:void(null);" onsubmit="call()">

                <legend>Input data to perform profit calculations for a month: </legend>

                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="netHashRate" title="Some text will be here!">netHashRate:</label>
                        <input id="netHashRate" name="netHashRate" value="15087740000000" th:value="${#numbers.formatDecimal(netHashRate, 10, 0)}" type="number" class="form-control"/>
                    </div>
                    <div class="form-group col-xs-3">
                        <label for="blockTime">blockTime:</label>
                        <input id="blockTime" name="blockTime" value="14.36" type="number" class="form-control" step=".1"/>
                    </div>

                    <div class="form-group col-xs-3">
                        <label for="blockReward" title="Some text will be here!">blockReward:</label>
                        <input id="blockReward" name="blockReward" value="4.85" type="number" class="form-control" step=".1"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-4">
                        <label for="gpuPrice">gpuPrice:</label>
                        <input id="gpuPrice" name="gpuPrice" value="21000" type="number" class="form-control"/>
                    </div>

                    <div class="form-group col-xs-5">
                        <label for="gpuHashrate">gpuHashrate in MH/s:</label>
                        <input id="gpuHashrate" name="gpuHashrate" value="28" type="number" class="form-control" step=".1"/>
                    </div>

                    <div class="form-group col-xs-3">
                        <label for="gpuWatt">gpuWatt:</label>
                        <input id="gpuWatt" name="gpuWatt" value="200" type="number" class="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-3">
                        <label for="wattPriceInRub">wattPriceInRub:</label>
                        <input id="wattPriceInRub" name="wattPriceInRub" value="4.12" type="number" class="form-control" step=".01"/>
                    </div>

                    <div class="form-group col-xs-4">
                        <label for="cryptoCurrencyToBtc">cryptoCurrencyToBtc:</label>
                        <input id="cryptoCurrencyToBtc" name="cryptoCurrencyToBtc" value="0.0365" th:value="${cryptoCurrencyToBtc}" type="number" class="form-control" step=".0001"/>
                    </div>

                    <div class="form-group col-xs-5">
                        <label for="btcToUsd">btcToUsd:</label>
                        <input id="btcToUsd" name="btcToUsd" value="1150" type="number" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="usdToRub">usdToRub:</label>
                        <input id="usdToRub" name="usdToRub" value="57" type="number" class="form-control"/>
                    </div>

                    <div class="form-group col-xs-6">
                        <label for="fees">fees+downtime+difficultyAdjusting percent:</label>
                        <input id="fees" name="fees" value="33" type="number" class="form-control"/>
                    </div>
                </div>

                <div class="form-group col-xs-12 button-block">
                    <input value="Send" type="submit" class="btn btn-default btn-lg pull-right btn-danger"/>
                </div>
            </form>
        </div>

        <div class="chart-block col-xs-7">
            <div id="chart"></div>
        </div>
    </div>
    <div class="row" id="profitTable">
        <div class="col-xs-12 block">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>profitInCryptoCurrency</th>
                    <th>profitInBtc</th>
                    <th>profitInUsd</th>
                    <th>profitInRub</th>
                    <th>wastedPowerInRub</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span id="profitInCryptoCurrencyTd"></span></td>
                    <td><span id="profitInBtcTd"></span></td>
                    <td><span id="profitInUsdTd"></span></td>
                    <td><span id="profitInRubTd"></span></td>
                    <td><span id="wastedPowerInRubTd"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" id="roiDiv">
        <div class="col-lg-12 block">
            <p id="roiParagraph"></p>
        </div>
    </div>
</div>
</body>
</html>